div.entry-user-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 15%;
    border-right: 1px solid #000;
}

.entry-user-block img {
    width: 3rem;
    height: 3rem;
    margin: 1rem auto 0;
    border-radius: 50%;
}